{% include 'header.html' %}

  <div class="glass-div p-5 text-center">
    <h2 class="geo-text my-3 text-body-emphasis">View current weather</h2>
    <p class="py-3 mb-4 text-body-emphasis col-lg-8 mx-auto fs-5 text-muted">
      Tell us where you are, what is your current location?
    </p>
    <form class="row row-cols-lg-auto g-3 align-items-center" action="{{ url_for('view_weather') }}" method="post">
      <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Please enter your address, in this format-place, city/town, state, country</label>
        <div class="input-group">
          <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
            </svg></div>
            <input type="text" name="location" class="form-control"
              placeholder="Please enter your location, in this format- place, city/town, state, country (Saint Mark street, California, Los Angeles)"
              size="100">
        </div>
        <button class="glass-button d-inline-flex align-items-center btn btn-lg rounded-pill px-4 my-4" type="submit">
          Continue
        </button>
      </div>
    </form>
  </div>

  {% include 'footer.html' %}